# built with npm install
node_modules/

# built each time
dist/

# rust's target folders
target/
src-tauri/WixTools/
src-tauri/target/

# mac's infamous .ds_store file
.DS_Store

# ignore public folder
public/

# ignore vscode stuff
.vscode/launch.json
.vscode/tasks.json

# ignore the git mailmap file
.mailmap
